<div class="container">
    <input type="text" class="form-control mt-4" placeholder="search" (keyup)="searchTerm$.next($event.target.value)">
    <h4 class="m-2">
        Repositories search results:
    </h4>
    <hr>

    <ul class="list-group" *ngIf="repos.length>0">
        <a *ngFor="let item of repos" [routerLink]="['/repository/'+item.id]" class="list-group-item list-group-item-action d-flex justify-content-between">
            <span>{{ item.name }}</span>
        </a>
    </ul>

    <div *ngIf="loading then thenBlock; else elseBlock"></div>
    <ng-template #thenBlock>
        <div>
            Loading...
        </div>
    </ng-template>
    <ng-template #elseBlock>
        <div *ngIf="repos.length==0">
            No repos found.
        </div>
    </ng-template>

</div>
